extends  ../../_part/_baseShellA
block head
	include ../../_part/_headerA


block top
	include ../../_part/_topA

block main
	.mui-container-fluid
		p
	
		d-bind

		p
		s-comp1

block footer
	include ../../_part/_footerA