extends  ../../_part/_baseShell

block head
	include ../../_part/_header

block main
	.mui-container-fluid
		d-bind

	script.
	script.
		loadjs.ready(['ready'], {// loaded setup libs
			success: function(){
				init()
				loadjs([ 'PS.js' ] // now load pg js if needed
					,{ success: function(){
						PS.init()
					}//suc
				})//load pg
			}// lsuc
		})//ready()

		function init() {

			fetch('https://topseed.now.sh/membersPg/mem/', { //1 call
				method: 'post'
				}).then(function(response) { //2 promise
					return (response.json())
				}).then(function(value) { //3
					// your code here
					console.log('back')

					riot.compile(function(){ // make component, and wait for it
						//console.log(JSON.stringify(value))
						// pass value
						var c = riot.mount('d-bind', {users: value})[0]

					})//r

				}).catch(function(err) {
					console.log('error')
					console.log(err)
			})//fetch()
		}//()

block footer
	include   ../../_part/_footer
	