extends  ../../_part/_baseShell

block head
	title One
	include ../../_part/_header

block main
	.mui-container-fluid
		p oh hi there

	script.
		function init() {

		}
		loadjs.ready(['ready'], {// loaded setup libs
			success: function(){
				init()
			}
		})
block footer
	include ../../_part/_footer