footer#footer
	p

	.mui-panel
		.mui-container-fluid
			.mui-row
				.mui-col-sm-1.mui--hidden-xs
				.mui-col-sm-3.mui--hidden-xs
					a(href='https://gitter.im/topseed-demos/Lobby').mui--hidden-xs Forum 

				.mui-col-sm-3.mui--pull-right.mui--hidden-xs
					a(href='https://github.com/topseed/topseed-demos').mui--hidden-xs Site tech
				.mui-col-sm-1.mui--hidden-xs

script.
	//tracking script or such