
extends  ../../_part/_shellA-base

block content
	// --- style ---
	style.
		.block-cont {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
		.small-block { // BEM:
			min-width:	350px;
			min-height: 250px;
			position: relative;
			overflow: hidden;
			background-color: LightGrey;
			background-position: center center;
			background-repeat: no-repeat;
			background-size:  350%;
			transition: .3s;
		}
		.small-block .small-block__stripe {
			width: 100%;
			height: 50px;
			position: absolute;
			bottom: 0;
			background-color: rgba(0,0,0, 0.5);
		}
		.small-block .small-block__headline {
			line-height: 40px;
			font-size: 30px;
			color: white;
			margin: 10px;
			margin-top: 5px;
		}
		.small-block &:hover {
			background-size: 370%;
			transition: .4s;
		}
	// --- dom ---
	.block-cont
		a(href='/post/one')
			.small-block(style='background-image: url(/post/one/index.jpg)')
				.small-block__stripe
					.small-block__headline Item: One

		a(href='/post/two')
			.small-block(style='background-image: url(/post/two/index.jpg)')
				.small-block__stripe
					.small-block__headline Item: Two


block footer
	include  ../../_part/_footer
