extends  ../../_part/_baseShellA
block head
	include ../../_part/_headerA

	link(rel='canonical', href='/memmbers/dBind)Ren/')

block top
	include ../../_part/_topA

block main
	.mui-container-fluid
		p
		include _common


block footer
	include ../../_part/_footerA