extends  ../../_part/_baseShellS

block head
	include ../../_part/_headerS

block top
	include ../../_part/_topS

block main
	.mui-container-fluid
		include _common

	script.
		A.onLoaded(init)
		function init() {
			fetch('http://45.55.201.250:8083/membersPg/mem/', { //1 call
				method: 'post'
				}).then(function(response) { //2 promise
					return (response.json())
				}).then(function(value) { //3
					// your code here
					console.log('back')
					console.log(JSON.stringify(value))
					let tmpl = $.templates("#peopleList")
					let html2 = tmpl.render( value )
					$('#peopleList').html(html2)
				}).catch(function(err) {
					console.log('error')
					console.log(err)
			})//fetch()
		}//()

block footer
	include   ../../_part/_footerS
	