
###################### 
**/.DS_Store
**/.DS_Store?

**/Thumbs.db
Icon?
Icon\r
**/.dropbox
**/.vscode/
**/*.config

.csscomb.json
tsconfig.json

**/package-lock.json

**/serviceKey.json

.nojekyll

###################### Other
**/.project
**/.cfignore

**/*.log
**/logs/**

**/node_modules/**
