
extends  ../../_part/_shell0-base

block content
	#fullpage
		.section Some section1
		.section Some section2
			include story2.html
		.section Some section3
		.section Some section4

	script.
		function init() {
			$('#fullpage').fullpage()
		}

		if(_loaded) init()
		else {
			_act.addOnce(function(arg1, arg2) {
				init()
				return false
			})
		}


block footer
	include  ../../_part/_footer
