extends  ../../_part/_baseShellS

block head
	include ../../_part/_headerS

block top
	include ../../_part/_topS

block main
	script(src='//cdn.jsdelivr.net/list.js/1.1.1/list.min.js')
	.mui-container-fluid
		#users
			ul.list
				li
					h3.name Jonas Arnklint
					p.born 1985

	script.
		A.onLoaded(init)

		function init() {

			var options = {
				valueNames: [ 'name', 'born' ]
			}

			fetch('https://topseed.now.sh/membersPg/mem/', { //1 call
				method: 'post'
				}).then(function(response) { //2 promise
					return (response.json())
				}).then(function(values) { //3
					// your code here
					console.log('back')
					var userList = new List('users', options, values)

				}).catch(function(err) {
					console.log('error')
					console.log(err)
			})//fetch()


		}//()

block footer
	include   ../../_part/_footerS
	