// AMP & Flexbox layout
// main.sass may also import _classicFooter.scss overrides for compatibility with IE.

// Default M.ui variables (See muicss.com) ============================================
$base-line-height: 24px !default; // This is your web-app's vertical rhythm. KEY!
$headerH: $base-line-height * 1.5 !default;
$mui-appbar-height: $headerH;
$mui-appbar-height-xs-portrait: $headerH;
$mui-appbar-height-xs-landscape: $headerH;
$mui-base-font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Helvetica, Arial, sans-serif;
$mui-base-font-color: $primary-text-color;
$mui-base-font-size: $base-line-height * .65; // golden ratio as % of line-height
$mui-base-font-smoothing: true;

@import '_imports/mui';

* {
	font-family: $mui-base-font-family;
}

html {
	line-height: $base-line-height;
	min-height: 100vh;
}

body {
	display: flex;
	flex-direction: column;
	background-color: $primary-color-text;
	color: $primary-text-color;
	min-height: 100vh;
	margin: 0;
	overflow-x: hidden;
	overflow-y: auto;
	animation: none;
}

// Shell with menu bar and navigation  ================================================
#appbar, #sidedrawer {
	position: fixed;
	overflow: hidden;
	top: 0;
}

#sidedrawer {
	background-color: $primary-color-light;
	left: -201px;
	width: 200px;
}

// We keep most of sidedrawer in _sidedrawer.scss to make this file easier to read.
@import '_sidedrawer';

#appbar--brand {
	text-decoration: none;
	color: $primary-color-light;
}

#appbar--brand:hover {
	cursor: pointer;
}

#appbar {
	@extend .mui--z1;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: $primary-color-dark;
	color: $primary-color-light;
	height: $headerH;
	line-height: $headerH;
	left: 0;
	max-width: 100vw;
	min-width: 100vw;
	overflow: hidden;
	z-index: 100;
}

#appbar a {
	color: $primary-color-light;
	text-decoration: none;
	outline: 0;
}

#appbar--menu,
#appbar--brand {
	border: 0;
	height: $headerH;
	line-height: $headerH;
	margin: 0;
	padding: 0;
	vertical-align: middle;
}

#appbar--menu {
	@extend .mui-list--inline;
	color: $primary-color-text;
	margin-right: $mui-base-font-size *1.3;
}

#appbar--menu li:hover {
	background-color: $accent-color;
	color: $primary-color-light;
	cursor: pointer;
	line-height: $headerH;
}

#appbar--menu a:hover {
	color: $primary-color-text;
}

// Shell Content ======================================================================
#content-wrapper {
	flex-grow: 1;
	background-color: $primary-color-text;
	margin-top: $headerH;
	width: 100vw;
}

#content-wrapper * {
	font-family: $mui-base-font-family;
}

// Footer, sticky but not fixed (scrolls out of view when body is tall) ===============================================
#footer {
	background-color: $primary-color;
	color: $primary-text-color;
	max-width: 100vw;
	min-height: $headerH; //1.5 * $base-line-height;
	line-height: $headerH;
	min-width: 100vw;
	overflow: hidden;
	z-index: 50;
}

#footer_div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-left: $mui-base-font-size * .8; 
	margin-right: $mui-base-font-size * 1.3;
	padding-left: 0;
	padding-right: 0;
	padding-top: $mui-base-font-size * .4;
	padding-bottom: $mui-base-font-size * .4;
}

#footer_div--right {
	padding-right: 5px; //same as .mui-list--inline li in appbar
}

dialog {
  @extend .mui--z2;	
  top: 40%;
}

dialog::backdrop  {
  background-color: rgba(0, 0, 0, 0.4);
}

dialog + .backdrop {
  background-color: rgba(0, 0, 0, 0.4);
}

dialog > .mui-panel {
	margin-bottom: 0;
}

