
extends  ../../_part/_shellA-base

block content
	p
	.mui-container-fluid
		.mui-row
			.mui-col-md-4
				.mui-panel(style='height:calc(8.25*28px)')
					include story1.html

			.mui-col-md-8
				form
					legend Join
					.mui-textfield.mui-textfield--float-label
						input(name='data.email', type='email', required='')
						label Email
					.mui-textfield.mui-textfield--float-label
						input(name='data.password', type='password', required='')
						label Password
					button.mui-btn.mui-btn--raised(type='submit') Join

	script.
		_act.addOnce(function(arg1, arg2) {
			console.log('o'+arg1, arg2)
			return false
		})
		//http://github.com/corinis/jsForm :
		function form2Json(){} // name
		function json2Form(){} // name
		function isValid(){}  // mark elements value as not valid / return false if any fail

block footer
	include  ../../_part/_footer
