extends  ../../_part/admin/_baseShell

block head
	title Admin Home
	include ../../_part/admin/_header

block main
	.mui-container-fluid
		p 
		p Welcome to the Admin Module!
		p Select 'Linkblog from the Menu to administer link entries.
		//-include _hello.html 

	script.
		TS.onAppReady(UIinit) 
		function UIinit() {
			console.log('Blog Admin Home onAppReady')
		}

block footer
	include ../../_part/_footer