extends  ../../_part/admin/_baseShell

block head
	title Admin Home
	include ../../_part/admin/_header

block main
	.mui-container-fluid
		p 
		p Welcome to the Admin Module!
		p Select 'Linkblog from the Menu to administer link entries.

	script.
		TS.onAppReady(UIinit) 
		function UIinit() {
			console.log('Topseed Admin Console home onAppReady')
			if (!Cookies.get('auth')) 
				new BLX().redirect('/admin/login/')
		}

block footer
	include ../../_part/_footer