extends  ../../_part/_baseShellA

block head
	include ../../_part/_headerA

	link(rel='canonical', href='https://www.FIXME.org/post/amp/')

block top
	include ../../_part/_topA

block main
	.mui-container-fluid
		include story2.html

block footer
	include ../../_part/_footerA
