extends  ../../_part/_baseShellS

block head
	include ../../_part/_headerS

block top
	include ../../_part/_topS

block main
	.mui-container-fluid
		include story2.html

	script.
		function init() {
		}

		A.onLoaded(init)

block footer
	include ../../_part/_footerS