
extends  ../../_part/_shellA-base
block head

block content
	p
	.mui-container-fluid
		.mui-row
			.mui-col-md-8
				table#dg0.display(cellspacing='0', width='100%')
					thead
						tr
							th Name
							th Position
							th Office
							th Extn.
							th Start date
							th Salary

			.mui-col-md-4
				.mui-panel
					#myfirstchart(style='height: 450px;')
 

	script.
		function init() {
			// change url to match your NAME/URL
			//head.load('https://murder.site44.com/home/fB/api.js')
			$('#dg0').dataTable( {
				'ajax': 'https://murder.site44.com/home/fB/array.json'
				,'searching': false
				,'info': false
				,'columnDefs': [ { 'visible': false, 'targets': 2 } ]
				,'lengthChange': false
				,'paging': false
				,ordering: true
			} )

			$('#dg0 tbody').on('click', 'tr', function () {
				var col = $(this).find('td:nth-child(3)')
				console.log(col.text())
				$('#dg0 tr').removeClass('selected')
				$(this).toggleClass('selected')
			} )
			initMorris()
		}//()

		A.onLoaded(init)

		function initMorris() {
			// morris late load
			head.load(
				'//cdn.jsdelivr.net/morris.js/0.5.1/morris.min.js'
				,'//cdn.jsdelivr.net/morris.js/0.5.1/morris.css'
			, function(){
				console.log('late lodaded lib - could be in a component')
				Morris.Donut({
					element: 'myfirstchart',
					data: [
						{label: "Download Sales", value: 12},
						{label: "In-Store Sales", value: 30},
						{label: "Mail-Order Sales", value: 20}
					]
				})//morris
			})//load
		} //init morris


block footer
	include  ../../_part/_footer
