head
	script(src='//cdn.jsdelivr.net/jquery/3.1.1/jquery.min.js')
	script(src='//cdn.jsdelivr.net/js-signals/1.0.0/signals.min.js')
	script(src='//cdn.jsdelivr.net/riot/3.3.1/riot+compiler.min.js')
	script(src='/_uiComps/lib/star-rating-svg.js')

body

	star-rating#o
	
	star-rating#t

	script(type='riot/tag', src='/_uiComps/star-rating.html')
	script.

		riot.compile(function(){ // make component, and wait for it
			var comps = riot.mount('star-rating')
			var c1 = comps[0]
			
			c1.compA().add(function(arg1, arg2){
				console.log('pg:'+arg1 + arg2)
			})

			setTimeout(function(){
				c1.setRating(3)
			}, 2000)
			
		})//compile

