head
	script(src='//cdn.jsdelivr.net/jquery/3.1.1/jquery.min.js')
	link(rel='stylesheet', href='/_uiComps/lib/star-rating-svg.css')
	script(src='/_uiComps/lib/star-rating-svg.js')

body

	.my-rating

	script.
		console.log($('.my-rating'))
		$('.my-rating').starRating({
			starSize: 30,
			totalStars: 4,
			initialRating: 1,
			disableAfterRate: false,
			starShape: 'rounded',
			callback: function(rating, $el){
				console.log($el)
				console.log(rating)
			}
		})
		setTimeout(function(){
			$('.my-rating').starRating('setRating', 3)
		}, 2000)
