head
	script(src='//cdn.jsdelivr.net/jquery/3.1.1/jquery.min.js')

body

	star-rating#o
	
	star-rating#t

	script(type='riot/tag', src='/_uiComps/star-rating.html')
	script.

		riot.compile(function(){ // make component, and wait for it
			console.log('c:')
			var comps = riot.mount('star-rating')
			console.log(comps)

			var c1 = comps[0]

		})//compile

