head
	script(src='//code.jquery.com/jquery-2.2.4.min.js')

body
	p ?
	comp-1(data-nam='1')

	p !
	comp-1(data-nam='2')

	#d
	script.
		$( '#d' ).load( 'comp-foo.html', function() {
			//var tmpl = document.getElementById('comp-1')
			//document.body.appendChild(tmpl.content.cloneNode(true))
			console.log('loaded')
		})


