doctype html
meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
title Bookmarks
h1 Bookmarks Menu

h3 per
dl
	a(href='https://phraseapp.com/blog/posts/10-jquery-i18n-features/') 10 Things About jQuery i18n You May Not Have Known
	a(href='https://speckyboy.com/form-validation-jquery-plugins-libraries/') 15 Form Validation jQuery Plugins and Libraries
	a(href='https://gonative.io/about') About
	a(href='http://animista.net/') Animista
	a(href='https://michalsnik.github.io/aos/') AOS - Animate on scroll library
	a(href='https://www.bugmuncher.com/') BugMuncher - User Feedback Tool
	a(href='https://docs.bugsnag.com/platforms/browsers/') Bugsnag docs › Platforms › Browsers
	a(href='https://davidwalsh.name/chris-coyiers-favorite-pens') Chris Coyier's Favorite CodePen Demos
	a(href='https://crosswalk-project.org/') Crosswalk - build world class hybrid apps
	a(href='http://www.raphaelfabeni.com.br/css-loader/') CSS Loader
	a(href='http://engineering.paiza.io/entry/2015/03/12/145216') Data binding code in 9 JavaScript frameworks - Paiza Engineering Blog
	a(href='https://uxplanet.org/design-a-perfect-search-box-b6baaf9599c') Design a Perfect Search Box
	a(href='https://github.com/dixonandmoe/rellax') dixonandmoerellax Lightweight, vanilla javascript parallax library
	a(href='https://mmikowski.github.io/no-frameworks/')
		| Do you really want an SPA framework – Michael S. Mikowski – SPA (UIUXserver) architect and author
	a(href='https://jeffcarp.github.io/frontend-hyperpolyglot/') Front-end Hyperpolyglot
	a(href='https://github.com/ftlabs/ftcolumnflow') ftlabsftcolumnflow A polyfill that fixes the inadequacies of CSS column layouts
	a(href='http://gabrielfaucon.com/#works') Gabriel Faucon - Make things happen
	a(href='https://en.wikipedia.org/wiki/Hotelling%27s_law') Hotelling's law - Wikipedia
	a(href='http://ianlunn.github.io/Hover/') Hover.css - A collection of CSS3 powered hover effects
	a(href='https://www.linkedin.com/pulse/how-make-story-your-core-message-john-jantsch') How to Make Story Your Core Message  John Jantsch  Pulse  LinkedIn
	a(href='http://kyledavidgroup.com/blog/trust-me-four-things-your-professional-website-must-have-to-maintain-trust/') How to Make Your Professional Website Trustwory (1)
	a(href='http://htmlmuncher.com/') HTML Muncher
	a(href='https://www.jqvmap.com/')
		| jQuery Vector Maps - Resizable Scalable Vector Graphic (SVG) Maps for Modern Browsers
	a(href='https://github.com/kbwood/realperson') kbwoodrealperson jQuery Real Person Plugin
	a(href='https://github.com/layerJS/layerJS') layerJSlayerJS layerJS Javascript UI composition framework
	a(href='https://master-origin-layersnap.fgview.com/demo/') LayerSnap Demos
	a(href='http://js-grid.com/') Lightweight Grid jQuery Plugin - jsGrid
	a(href='https://github.com/mmikowski/jquery.event.ue') mmikowskijquery.event.ue jQuery plugin to unify mouse and touch input
	a(href='https://dzone.com/articles/moving-away-from-mvc') Moving Away From MVC - DZone Web Dev
	a(href='https://www.netlify.com/home/?utm_expid=92487948-2.JE77uevzSNqgqbSq7Dds4Q.1&utm_referrer=https%3A%2F%2Fwww.bing.com%2F') Netlify All-in-one platform for automating modern web projects
	a(href='http://www.nightmarejs.org/') Nightmare
	a(href='https://papertrailapp.com') Papertrail - cloud-hosted log management, live in seconds
	a(href='https://alistapart.com/article/personality-in-design') Personality in Design · An A List Apart Article
	a(href='http://keithclark.co.uk/articles/pure-css-parallax-websites/') Pure CSS Parallax Websites by Keith Clark
	a(href='https://github.com/qunitjs/node-qunit') qunitjsnode-qunit QUnit runner for nodejs
	a(href='https://martinmuzatko.github.io/riot-cheatsheet/') Riot Cheatsheet  by MartinMuzatko
	a(href='https://crisward.github.io/riot-flipcard/') Riot Flipcard
	a(href='https://channel9.msdn.com/Blogs/semjs/semjs20160411rio') Riot.js by Mike Ward  Southeast Michigan JavaScript  Channel 9
	a(href='https://developer.chrome.com/apps/chrome_apps_on_mobile') Run Chrome Apps on Mobile Using Apache Cordova - Google Chrome
	a(href='https://github.com/ruyadorno/dom-i18n')
		| ruyadornodom-i18n Provides a very basic HTML multilingual support using JavaScript
	a(href='https://sarahdrasnerdesign.com/') Sarah Drasner
	a(href='http://www.stumbleupon.com/su/1ad47m/:7nS1ZaUo:c$IaOTZQ/aerogrammestudio.com/2013/03/07/pixars-22-rules-of-storytelling') StumbleUpon
	a(href='https://envato.com/blog/art-subtlety-animating-media-content-website/') The Art of Subtlety In Animating Media Content For Your Website
	a(href='https://techcrunch.com/2016/11/29/the-future-of-front-end-development-is-design') The future of front-end development is design  TechCrunch
	a(href='http://codepen.io/2016/popular/pens/10/') Top Pens of 2016 on CodePen
	a(href='https://tympanus.net/codrops/category/tutorials/') Tutorials Archives  Codrops (1)
	a(href='https://tympanus.net/codrops/category/tutorials/') Tutorials Archives  Codrops
	a(href='https://ucdc.therectangles.com/#what')
		| User Centered Design Canvas — First UX tool combining user needs with business goals
	a(href='http://validatejs.org/') validate.js
	a(href='http://vitomd.com/blog/coding/hello-riot-js-quick-tutorial-about-this-awesome-lib/') vitoMd  Hello Riot.jsquick tutorial about this awesome lib
	a(href='https://www.infoq.com/articles/no-more-mvc-frameworks') Why I No Longer Use MVC Frameworks
p

h3 misc
dl
	a(href='http://freefrontend.com/css-loaders/') 54 CSS Loaders  Free Frontend
	a(href='https://github.com/ampproject/amphtml/blob/master/spec/amp-html-format.md') amphtmlamp-html-format.md at master · ampprojectamphtml
	a(href='https://github.com/ampproject/amphtml')
		| ampprojectamphtml AMP HTML source code, samples, and documentation. See below for more info.
	a(href='https://app.userapp.io/#/docs/libs/javascript/') app.userapp.io
	a(href='http://www.danielstjules.com/2014/08/03/basic-auth-with-express-4/') Basic Auth With Express 4 - Daniel St. Jules
	a(href='https://github.com/BorisMoore/jquery-tmpl') BorisMoorejquery-tmpl The original official jQuery Templates plugin.
	a(href='https://csspeeper.com/') CSSPeeper - Smart CSS viewer tailored for Designers
	a(href='https://www.npmjs.com/package/express-recaptcha') express-recaptcha
	a(href='https://www.npmjs.com/package/html-to-amp') html-to-amp
	a(href='http://stackoverflow.com/questions/36480283/is-it-possible-to-force-google-amp-html-pages-to-refresh') Is it possible to force google amp html pages to refresh - Stack Overflow
	a(href='https://discuss.reactjs.org/t/legal-department-did-not-allow-use-of-react/3309') Legal Department did not allow use of React - React Discuss
	a(href='http://embed.plnkr.co/KvsA04RAEOMmkUYjlPaF/') Lesson 10c - Finally looks like actual Rain - Plunker
	a(href='http://node.green/') Node.js ES2015ES6, ES2016 and ES2017 support
	a(href='https://logs.now.sh/') now-logs  Realtime logging for now
	a(href='https://www.apixu.com/pricing.aspx') Pricing - Apixu
	a(href='https://muut.com/tour/') The only discussion system your site needs
	a(href='https://css-tricks.com/transparent-jpg-svg/') Transparent JPG (With SVG)  CSS-Tricks
	a(href='https://jaxbot.me/articles/new-nocaptcha-recaptcha-with-node-js-express-12-9-2014') Using the new noCAPTCHA reCAPTCHA with Node.js and Express
	a(href='https://github.com/VincentGarreau/particles.js')
		| VincentGarreauparticles.js A lightweight JavaScript library for creating particles
	a(href='https://developers.google.com/web/updates/2013/01/Voice-Driven-Web-Apps-Introduction-to-the-Web-Speech-API') Voice Driven Web Apps Introduction to the Web Speech API 


