extends  ../../_part/_baseShell

block head
	title CompCom
	include ../../_part/_header

block main
	.mui-container-fluid
		p hello
		c-1
		c-2

	script.
		function UIinit() {
		}
		loadjs.ready(['ready'], {// loaded setup libs
			success: function(){
				UIinit()
				loadjs([ 'PS.js' ] // now load pg js if needed
					,{ success: function(){
						PS.init()
					}//suc
				})//load pg
			}// lsuc
		})//ready()

block footer
	include ../../_part/_footer
