doctype html
html(lang='en')
	head
		link(rel='stylesheet', href='//cdn.muicss.com/mui-0.9.6/css/mui.min.css')
		link(rel='stylesheet', href='//cdn.jsdelivr.net/jquery.fullpage/2.8.9/jquery.fullpage.min.css')

		script(src='//code.jquery.com/jquery-2.2.4.min.js')
		script(src='//cdn.jsdelivr.net/jquery.fullpage/2.8.9/jquery.fullpage.min.js')

		script. 
			$(document).ready(function() {
				$('#fullpage').fullpage({
					//verticalCentered: false,
					css3:false
				})//config
			})
		style.

			.section {
				background-size: cover;
				background-attachment: fixed;
				background-image: url(bg0.jpg);
			}

			.section0{
				background-image: url(bg1.jpg);
			}
			.section2{
				background-image: url(bg2.jpg);
			}
			.section4{
				background-image: url(bg3.jpg);
			}

			img {
				max-height: 95vh;
				max-width:  95vw;

				min-height: 50vh;
				min-width:  50vw;
			}
	body
		#fullpage

			.section1.section
				.mui-container-fluid
					.mui-panel
						H3 All @ Data binding
						p tables, lists, forms, etc.
						p User Auth
						p In-Browser
						p Server-Side
						p Web Components
						p Mobile
						p Working w/ REST and MicroServices


			.section1.section
				.mui-container-fluid
					.mui-panel
						H1 Microservices
						p resty, match the page
						p Product vs Service
						p Firebase, Mail Gun
						p  Azure Table Storage, Google Cloud Datastore


			.section0.section
				.mui-container-fluid
					.mui-panel
						include microService.html


			.section1.section
				.mui-container-fluid
					img(src='restTest.png', width='95%')


			.section1.section
				.mui-container-fluid
					img(src='restTest2.png', width='95%')


			.section1.section
				.mui-container-fluid
					.mui-panel
						H1 JWT
						p auth


			.section0.section
				.mui-container-fluid
					.mui-panel
						include test.html


			.section1.section
				.mui-container-fluid
					img(src='form.png', width='95%')


			.section1.section
				.mui-container-fluid
					.mui-panel
						H1 Form Demo and Unit Test


			.section1.section
				.mui-container-fluid
					.mui-panel
						H1 Web Components
						p ex: video, iframe, or jQ


			.section1.section
				.mui-container-fluid
					.mui-panel
						H1 In-browser data binding
						p w/ and w/o comp
						p + Action


			.section1.section
				.mui-container-fluid
					img(src='layout.png', width='95%')


			.section1.section
				.mui-container-fluid
					.mui-panel
						H1 In Browser vs Server Side
						p binding/rendering


			.section0.section
				.mui-container-fluid
					.mui-panel
						include decider.html


			.section1.section
				.mui-container-fluid
					img(src='dataTables.png', width='95%')


			.section1.section
				.mui-container-fluid
					.mui-panel
						H3 Lab: Data Tables Component
						p Page provides data
						p Lab: Type in the mark up in the Component
						p Require: Latest node.js, currently v7.6
						p node -v
						p Glance docs on DataTables.net


			.section0.section
				.mui-container-fluid
					.mui-panel
						include solution.html