extends  ../../_part/admin/_baseShell

block head
    title News Admin
    include ../../_part/admin/_header

block main
    dialog#loginpopup
        .mui-panel
            form#form1.mui-form(onsubmit='return false')
                legend Login
                .mui-textfield
                    input(name='data.user', type='text', required='', autofocus='autofocus')
                    label Username/Email
                .mui-textfield
                    input(name='data.password', type='password', required='')
                    label Password
                button.mui-btn.mui-btn--raised(type='submit') Login
                a.mui-btn.mui-btn--raised(href='page/one/#') Cancel
  

    script.
        TS.onAppReady(function(){TS.loadNX('/admin/login/LoginBusiness.js', UIinit)}) 

        function UIinit() {

            Cookies.remove('auth')// logout

            var dialog = document.querySelector('dialog');
            dialogPolyfill.registerDialog(dialog);
            dialog.addEventListener('cancel', function() { event.preventDefault(); });
            dialog.showModal();
            
            const sb = LoginBusiness()
  
            //bind blank form
             $('#form1').jsForm()
            //sb.detail('#form1') 

            //set onSubmit handler, include any cookie
            $('#form1').submit({auth: Cookies.get('auth')}, sb.login); 
            //BETTER: $('#form1').submit(sb.stream('ll'))
            
            /*flyd.on(function(e) {
                console.log('NAV', e)
                Cookies.set('auth',e)
                console.log(Cookies.get('auth'))

                setTimeout(function() {
                    TT.loadPg('/linkBlog/admin/')// let the cookie write
                },50)
            }, ps.nav)*/
        }

block footer
    include ../../_part/_footer

