extends  ../../_part/admin/_baseShell

block head
    title Topseed Admin Console Login
    include ../../_part/admin/_header

block main
    include loginpopup

    script.
        TS.loadOnAppReady('/admin/login/LoginBusiness.js', UIinit) 

        function UIinit() {

            var dialog = document.querySelector('dialog')
            dialogPolyfill.registerDialog(dialog)
            dialog.addEventListener('cancel', function() { event.preventDefault() }) //on ESC key
            dialog.showModal()

            $('#appbar #content-wrapper #footer').css('opacity', '1');

            const sb = LoginBusiness()

            $('#form1').jsForm() //bind blank form
            //sb.detail('#form1') 

            //set onSubmit handler
            $('#form1').submit(sb.login); 
        } 

block footer
    include ../../_part/_footer

        

