extends  ../../_part/_baseShell

block head
	title CompCom
	include ../../_part/_header

block main
	.mui-container-fluid

		p Show how event in c-1 affects c3, poly!

		c-1

		c-3

	script(type='riot/tag', src='/_webComp/C3P.html')
	script.
		TS.onAppReady(UIinit)
		
		let _blx
		
		function UIinit() {
			console.log('pg')

			_blx = new BLX(null) // can / should have folder local class

			TS.loadComp($('#comps'),'/_webComp/C1.html', UICompInit)
		}

		function UICompInit() {//this does not execute yet
			var el = customElements.get('c-1')
			if(!el) // if it is not defined, define:
				customElements.define('c-1', C1El)// loaded w/ template

			let m = document.querySelector('c-1')
			console.log(_blx)
			m.init(_blx) // talk to it

			//poly
			riot.compile(function(){ // wait for a comp
				var c3 = riot.mount('c-3')[0]

				c3.init(_blx)

			})// compile
		}



block footer
	include ../../_part/_footer

