
extends  ../../_part/_shell0-base

block content
	.mui-container-fluid
		include ../../con_m/post/two/story2.html

		script.
			_stateA.addOnce(function(arg1, arg2) {
				console.log('t'+arg1, arg2)
				return false
			})

block footer
	include  ../../_part/_footer