doctype html
html(lang='en', manifest='/cache.mf')
	head
		block head

	body
		script(type='riot/tag', src='/_uiComps/d-table.html')
		script(type='riot/tag', src='/_uiComps/d-bind.tag')

		#ss1
			block top
			link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Roboto:regular,bold,italic&lang=en')

			#content-wrapper0 
				#content-wrapper
					block main

		p
			br
		block footer
