script(type='text/javascript').
	document.body.style.opacity = '0.7'

nav#appbar.mui-container-fluid.mui--no-user-select
	table(width='100%')
		tr
			td
				#brand ☰ &nbsp;
					span.mui--hidden-xs Massons-Foundation.org
					a(href='https://www.masons-foundation.org/home/feed/')#navPrev  &nbsp; ☚ &nbsp;
			td.mui--text-right
				ul#menu.mui-list--inline
					li.mui--hidden-xs
						a(href='/train/bestWComps/').mui--hidden-xs Home
					li.mui--hidden-xs
						a(href='/train/schedule/').mui--hidden-xs Schedule
					li
						a(href='/home/feed/') Feed
					li
						a(href='/home/fts/') Search
					li &nbsp;

#sidedrawer
	nav#sidenav.mui--no-user-select
		h2
			#sidedrawer-brand.mui--text-title ☰ &nbsp; Massons
		.mui-divider
		ul.mui-list--unstyled#sidenavstrong
			li
				a(href='/train/bestWComps/') Home
			li
				a(href='/train/schedule/') Schedule
			li
				a(href='/home/feed/') Feed
			li
				a(href='/home/fts/') Search
