nav#appbar.mui-container-fluid.mui--no-user-select
	table(width='100%')
		tr
			td
				#brand &nbsp;
					span.mui--hidden-xs Massons-Foundation.org
					a(href='https://www.masons-foundation.org/home/feed/')#navPrev  &nbsp; ☚ &nbsp;
			td.mui--text-right
				ul#menu.mui-list--inline
					li.mui--hidden-xs
						a(href='https://www.masons-foundation.org/train/bestWComps/').mui--hidden-xs Home
					li.mui--hidden-xs
						a(href='https://www.masons-foundation.org/train/schedule/').mui--hidden-xs Schedule
					li
						a(href='https://www.masons-foundation.org/home/feed/') Feed
					li
						a(href='https://www.masons-foundation.org/home/fts/') Search
					li &nbsp;
