extends  ../../_parts/_baseShell

block head
	include ../../_parts/_header

block top
	include ../../_parts/_top

block main
	.mui-container-fluid
		include story1.html

	script.
		function init() {
		}

		A.onLoaded(init)

block footer
	include ../../_parts/_footer
