extends  ../../_part/_baseShell

block head
	include ../../_part/_header

block top
	include ../../_part/_top

block main
	.mui-container-fluid
		include story1.html

	script.
		function init() {
		}

		A.onLoaded(init)

block footer
	include ../../_part/_footer
