head
	script(src='https://www.masons-foundation.org/_js/libJs/riotComp.min.js', type='text/javascript')
body

	c-1(a='b')
		p(id='{id}') In Comp

	c-1(a='d')

	script(type='riot/tag', src='https://www.masons-foundation.org/_uiComps/c1.html')
	script.
		riot.compile(function(){ // make component, and wait for it
			console.log('c:')
			var comps = riot.mount('c-1')
			console.log(comps)

			var c = comps[0]
			console.log(c.compA())
		})//compile