doctype html
html
	head
		block head 

	body
		//- move this link to _header to support IE <= 10 
		link(rel='stylesheet', href='/_sass/main.css', lazyload="1")

		include _top

		#content-wrapper
			block main

		block footer