meta(charset='utf-8')
meta(name='viewport', content='width=device-width,minimum-scale=1,initial-scale=1')
link(rel='icon', href='/favicon.ico')
meta(http-equiv='X-UA-Compatible', content='IE=edge')

script(src='//code.jquery.com/jquery-3.2.1.slim.min.js')
script(src='https://cdn.rawgit.com/topseed/topseed-turbo/master/vendor/loadjs.min.js')

script(src='https://rawgit.com/topseed/topseed-turbo/master/setup/setup-latest.js')

script(src='/_js/main.js', async='')

<!--[if IE]> -->
	link(rel='stylesheet', href='/_sass/main.css')
<!-- <![endif]-->

meta(name='description', content='')


