#appbar
	#appbar--brand(onclick='openDrawer()') &nbsp; ☰ &nbsp;
		span.mui--hidden-xs Topseed&trade;
	ul#appbar--menu
		li
			a(href='/page/one/') One
		li
			a(href='/page/two/') Two
		li
			a(href='/admin/home/#') Admin				

#sidedrawer(onclick='closeDrawer()')
	#sidedrawer--brand &nbsp; ☰ &nbsp; Topseed&trade;
	.mui-divider
	ul#sidedrawer--menu
		li
			a(href='/page/one/') One
		li
			a(href='/page/two/') Two
		li
			a(href='/admin/home/#') Admin

script.
	function openDrawer(px, e) {
		$('#sidedrawer').css('transform', 'translateX(201px)')
	}
	function closeDrawer(e) {
		$('#sidedrawer').css('transform', 'translateX(0px)')
	}			

