#appbar
	#appbar--brand &nbsp; ☰ &nbsp;
		span.mui--hidden-xs Nav Example 
			span &trade;
	#appbar--push
	ul#appbar--menu.mui-list--inline
		li
			a(href='/page/one/') One
		li
			a(href='/page/two/') Two

#sidedrawer
	#sidedrawer--brand &nbsp; ☰ &nbsp;
		span Nav Example
			span &trade;
	.mui-divider
	ul#sidedrawer--menu.mui-list--unstyled
		li
			a(href='/page/one/') One
		li
			a(href='/page/two/') Two
