#appbar
	a(href='#sidedrawer')#appbar--brand &nbsp; ☰ &nbsp;
		span.mui--hidden-xs Topseed&trade;
	ul#appbar--menu
		li
			a(href='/page/one/') One
		li
			a(href='/page/two/') Two

#sidedrawer
	a(href='#')#sidedrawer--brand &nbsp; ☰ &nbsp; Topseed&trade;
	.mui-divider
	ul#sidedrawer--menu
		li
			a(href='/page/one/') One
		li
			a(href='/page/two/') Two
