extends  ../../_part/_baseShell

block head
	title One
	include ../../_part/_header

block main
	.mui-container-fluid
		p oh hi there

	script.
		ST.onAppReady(UIinit)
		function UIinit() {
			console.log('o')
		}

block footer
	include ../../_part/_footer

