extends  ../../_part/_baseShell

block head
	title One
	include ../../_part/_header

block main
	.mui-container-fluid
		p
		include _hello.html

	script.
		TS.onAppReady(UIinit) 
		function UIinit() {
			console.log('Page One onAppReady')
		}

block footer
	include ../../_part/_footer

