extends  ../../_part/_baseShell

block head
	title One
	include ../../_part/_header

block main
	.mui-container-fluid
		p oh hi there

	script.
		onAppReady(UIinit)
		function UIinit() {
		}

block footer
	include ../../_part/_footer

