extends  ../../_part/_baseShellA

block head
	title One
	include ../../_part/_headerA
	link(rel='canonical', href='/page/one/index.html')

block main
	.mui-container-fluid
		p
		include _hello.html

block footer
	include ../../_part/_footer