doctype html
html
	head
		block head

	body
		link(href='https://fonts.googleapis.com/css?family=Noto+Sans',  rel='stylesheet')
		link(href='https://fonts.googleapis.com/css?family=Noto+Serif', rel='stylesheet')

		#ss1
			include _top

			#content-wrapper

				block main

			block footer