meta(charset='utf-8')
meta(name='viewport', content='width=device-width,minimum-scale=1,initial-scale=1')
link(rel='icon', href='/favicon.ico')
meta(http-equiv='X-UA-Compatible', content='IE=edge')

script(src='https://cdn.rawgit.com/puppetmaster3/smoothState.js/master/deps/loadjs.min.js', type='text/javascript')
script(src='https://cdn.rawgit.com/puppetmaster3/smoothState.js/master/setup/setup.latest.js', type='text/javascript')

script(src='/_js/CDS.js', type='text/javascript')
script(src='/_js/main.js', async='', type='text/javascript')

link(rel='stylesheet', href='/_sass/main.css', type='text/css')

meta(name='description', content='')

