#appbar
	a(href='#sidedrawer')#appbar--brand &nbsp; ☰ &nbsp;
		span.mui--hidden-xs Nav Example 
			span &trade;
	#appbar--push
	ul#appbar--menu.mui-list--inline
		li
			a(href='/page/one/') One
		li
			a(href='/page/two/') Two
		li
			a(href='/page/3/') 3

#sidedrawer.mui--z1
	a(href='#')#sidedrawer--brand &nbsp; ☰ &nbsp;
		span Nav Example
			span &trade;
	.mui-divider
	ul#sidedrawer--menu.mui-list--unstyled
		li
			a(href='/page/one/') One
		li
			a(href='/page/two/') Two
		li
			a(href='/page/3/') 3
