extends  ../../_part/_baseShell

block head
	title CompCom
	include ../../_part/_header

block main
	.mui-container-fluid

		p Show how event in c-1 affects c-2

		c-1

		c-2


	script.

		onAppReady(UIinit)

		//classs

		function UIinit() {

			riot.compile(function(){ // wait for a comp
				var c1 = riot.mount('c-1')[0]
				var c2 = riot.mount('c-2')[0]

				const ps = new BPS()
				ps.init() 
				//comps now have access to the pg event bus so wire
				c1.init(ps.pgBus)
				c2.init(ps.pgBus)

			})// compile

		}//UIinit()


block footer
	include ../../_part/_footer
