extends  ../../_part/_baseShell

block head
	title CompCom
	include ../../_part/_header

block main
	.mui-container-fluid
		p hello
		c-1
		c-2

	script.
		function UIinit() {
			riot.compile(function(){ // make component, and wait for it
				var c1 = riot.mount('c-1')
				var c2 = riot.mount('c-2')
				console.log(c1)
				console.log(c2)

				//var c2 = comps[1] // 0 uses attributes, this one is using set
				//c2.setRating(2)
				loadjs([ 'PS.js' ] // now load pg js if needed
					,{ 
						success: function(){ PS.init() } 
					} //
				)//load ps.js

		})// compile

		loadjs.ready(['app-ready']
			,{
				success: function(){ UIinit() } 
			}
		)//ready()

block footer
	include ../../_part/_footer
