extends  ../../_part/_baseShell

block head
	title CompCom
	include ../../_part/_header

block main
	.mui-container-fluid

		button#up  Up 
		button#down  Down 
		span#counter  0 

		p Show how event in c-1 affects c-2

		c-1

		c-2


	script.
		function foo() {
			var up   = $('#up').asEventStream('click');
			var down = $('#down').asEventStream('click');

			var counter = up.map(1).merge(down.map(-1))
				.scan(0, function(x,y) { return x + y });

			// assign observable value to jQuery property text
			counter.assign($('#counter'), 'text');
		}

		loadjs.ready( ['app-ready'],
			{ success: function(){ 
				UIinit() 
			} 
		})//ready()

		function UIinit() {
			foo()
			riot.compile(function(){ // wait for a comp
				var c1 = riot.mount('c-1')[0]
				var c2 = riot.mount('c-2')[0]

				loadjs([ '/comp/compCom/PS.js' ], // now load ps
					{ success: function(){ 
						PS.init() 
						//comps now have access to the pg event bus
						c1.init(PS.pgBus)
						c2.init(PS.pgBus)

					} 
				})//load ps.js

			})// compile
		}//UIinit()


block footer
	include ../../_part/_footer
