extends  ../../_part/admin/_baseShell

block head
    title News Admin
    include ../../_part/admin/_header

block main
    .mui-container-fluid
        form#form1.mui-form
            input(name='data.pk', type='hidden')
            
            h2.mui--pull-left News Item Detail
            h2.mui--pull-right
                button.mui-btn.mui-btn--raised(type='submit') Save
                a.mui-btn.mui-btn--raised(href='./list.html') Cancel
            span.mui--clearfix
           
            .mui-textfield
                input(name='data.ts', type='text', required='')
                label Date
            .mui-textfield
                input(name='data.head_line', type='text', required='')
                label Headline
            .mui-textarea
                textarea(name='data.url', type='text', required='')
                label Content

    script.
        TS.onAppReady(function(){TS.loadNX('/admin/news/NewsService.js', UIinit)}) 

        function UIinit() {
            
            const ps = NewsService()
  
            //if there is a URL id param, it's an edit, populate
            ps.detail('#form1', BPS.getIdParam()) //before: init

            $('#form1').submit(ps.save); //onSubmit handler
            //$('#save').on('click', ps.stream('ad'))
            
            /*flyd.on(function(e) {
                console.log('NAV', e)
                TT.loadPg('/admin/news/list.html')
            }, ps.nav)*/
        }

block footer
    include ../../_part/_footer

