template#d-table
	link(rel='stylesheet', href='//cdn.jsdelivr.net/jquery.datatables/1.10.10/css/jquery.dataTables.min.css')

	table#dg0.display(cellspacing='0', width='100%')
		thead
			tr
				th Name
				th Position
				th Office
				th Extn.
				th Start date
				th Salary

script.
	if(!isRegistered('d-table'))  
	customElements.define('d-table', class extends HTMLElement {

		get compA() {
			console.log('in comp')
			return this._compA
		 }//comp events

		set ds(dataSet) {

			//console.log(dataSet)
			var $dt= $(this._compRoot).find('#dg0')
			//console.log($dt)

			$dt.DataTable( {
				data: dataSet
				,'searching': false
				,'info': false
				,'columnDefs': [ { 'visible': false, 'targets': 2 } ]
				,'lengthChange': false
				,'paging': false
				,ordering: true
			} )

		}

		connectedCallback() { 

			this._compA = new signals.Signal()

			var $dtb= $(this._compRoot).find('#dg0')
			//console.log($dtb)

			$dtb.on('click', 'tr', function () {
				var col = $(this).find('td:nth-child(3)')
				//console.log(col.text())
				this._compA.dispatch(col.text())
				$('#dg0 tr').removeClass('selected')
				$(this).toggleClass('selected')
			} )

			
		}//()

		constructor() {
			super() // always call super first
			console.log('ctor')

			//boiler plate:
			this._compRoot = this.attachShadow({mode: 'open'})
			var t = document.querySelector('#d-table')
			var instance = t.content.cloneNode(true)
			this._compRoot.appendChild(instance)
		}//()

	})//
