template#d-Table
	table#dg0.display(cellspacing='0', width='100%')
		thead
			tr
				th Name
				th Position
				th Office
				th Extn.
				th Start date
				th Salary

script.
	customElements.define('d-Table', class extends HTMLElement {

		//get bla() { return 'a'}
		//set bla(val) { console.log(val)}
		//var _compA = new signals.Signal()

		connectedCallback() { 
			try {

			var dataSet = this.getAttribute('data-set')

			console.log(dataSet)
			$('#dg0').DataTable( {
				data: dataSet
				,'searching': false
				,'info': false
				,'columnDefs': [ { 'visible': false, 'targets': 2 } ]
				,'lengthChange': false
				,'paging': false
				,ordering: true
			} )

			$('#dg0 tbody').on('click', 'tr', function () {
				var col = $(this).find('td:nth-child(3)')
				console.log(col.text())
				$('#dg0 tr').removeClass('selected')
				$(this).toggleClass('selected')
			} )

			} catch(err) { console.log(err) }
			//console.log(this._compRoot)
		}//()

		constructor() {
			super() // always call super first
			console.log('ctor')

			//boiler plate:
			this._compRoot = this.attachShadow({mode: 'open'})
			var t = document.querySelector('#d-Table')
			var instance = t.content.cloneNode(true)
			this._compRoot.appendChild(instance)
		}//()

	})//
