include ../../_part/_headerS

	body
		p Hello.

		iframe(src='https://www.google.com/trends/embed/US_cu_x1aYQFIBAAANlM_en/fe_geo_chart_f5a4cc96-b49b-4d88-9a3f-74cc902c2f35?forceMobileMode=true', height='565', layout='fixed-height', frameborder='0', sandbox='allow-scripts allow-same-origin')
			img(src='/post/amp/oscars_placeholder.png', layout='fixed-height', height='565', placeholder='')

include ../../_part/_footerS
