template#comp-1
	style.
		:host { 
			display: block;
			contain: content; /* CSS containment */
			background-color: yellow;
			cursor: pointer;
			}

		p { 
			color: orange; 
		}

	p My markup

script.	
	customElements.define('comp-1', class extends HTMLElement {

		get bla() { return 'a'}
		set bla(val) { console.log(val) }

		connectedCallback() { 

			var nam = this.getAttribute('data-nam')
			console.log(nam)
			
			this.addEventListener('click', function() {
				console.log('clicked')
			})

		//console.log(this._compRoot)

		}//()
		//disconnectedCallback() {console.log('disco') }//()


		constructor() {
			super() // always call super first
			//console.log('ctor')

			//boiler plate:
			this._compRoot = this.attachShadow({mode: 'open'})
			var t = document.querySelector('#comp-1')
			var instance = t.content.cloneNode(true)
			this._compRoot.appendChild(instance)
		}//()
	})//

