// AMP Flexbox layout
// main.sass also imports _classicFooter.scss overrides for compatibility with IE.

// Default M.ui variables (See muicss.com) ============================================
$base-line-height: 24px !default; // This is your web-app's vertical rhythm. KEY!
$headerH:  $base-line-height * 1.5 !default;

$mui-appbar-height:              $headerH;
$mui-appbar-height-xs-portrait:  $headerH;
$mui-appbar-height-xs-landscape: $headerH;

$mui-base-font-family:    'Noto Sans', sans-serif !default; // supports i18n 
$mui-base-font-color:     $primary-text-color;
$mui-base-font-size:      $base-line-height * .65; // golden ratio as % of line-height
$mui-base-font-smoothing: true;

$box-shad     : 0 2px 3px rgba(0,0,0,0.4);
$box-shad__hov: 0 3px 4px rgba(0,0,0,0.7);

@import 'sass/mui';

* {
	font-family: $mui-base-font-family;
}

html {
	line-height: $base-line-height;
	min-height: 100vh;
}

body {
	min-height: 100vh;
	color: $primary-text-color;
	background-color: white;
	overflow-y: auto;
	overflow-x: hidden;
	animation:none;
	margin: 0;	
	display: flex;
	flex-direction: column;
}

// Shell with menu bar and navigation  ================================================
#appbar, #sidedrawer {
	position: fixed;
	top: 0;
}

#sidedrawer  {
	left: -201px;
	width: 200px;
	position: absolute;
	overflow: hidden;
	background-color: $primary-color-light;
}

// We keep most of sidedrawer in _sidedrawer.scss to make this file easier to read.
@import '_sidedrawer';

// brand
#sidedrawer--brand, #appbar--brand  { 
	text-decoration: none;
}

#sidedrawer--brand:hover, #appbar--brand:hover  {
	cursor: pointer;
}

#appbar {
	vertical-align: middle;
	left: 0;
	max-width: 100vw;
	min-width: 100vw;	
	overflow: hidden;
	color: $primary-color-light;
	background-color: $primary-color-dark;
	z-index: 10;
	line-height: $headerH;
	height: $headerH;
	box-shadow: $box-shad;
	display: flex;
	flex-direction: row;
	align-content: space-between;
}

#appbar a {
	color: $primary-color-light;
	text-decoration: none;		
}

#appbar--menu, #appbar--brand, #sidebar--brand {
	vertical-align: middle;
	line-height: $headerH;
	height: $headerH;
	margin: 0;
	padding: 0;
	border: 0;
}

#appbar--push {
	flex-grow: 1;
}

#appbar--menu {
	margin-right: $mui-base-font-size *1.5;
}

#appbar--menu li { 
	transition: background-color .2s ease; // optional
}

#appbar--menu li:hover {
	background-color: $accent-color;
	cursor: pointer;
	line-height: $headerH;
}

#appbar--menu a { 
	transition: color .2s ease-in; // optional
}

#appbar--menu a:hover {
	color: $primary-color-text;
}


// Shell Content ======================================================================
#content-wrapper {
	margin-top: $headerH;
	flex-grow: 1;
	width: 100vw;
	font-family: 'Noto Serif', serif;
	background-color: white;
}

#content-wrapper * {
	font-family: 'Noto Serif', serif;
}


// Footer, sticky but not fixed (scrolls out of view when body is tall) ===============================================
#footer {
	max-width: 100vw;
	min-width: 100vw;
	min-height: 1.5 * $base-line-height;
	color: $primary-text-color;
	background-color: $primary-color;
	overflow: hidden;
}

#footer_div {
	display: flex;
	flex-direction: row;
	align-content: space-between;
	padding-top: $base-line-height *.25;
	padding-left: $base-line-height *.5;
	padding-right: $base-line-height *.85;
}

#footer_div--push {
	flex-grow: 1;
}

#footer_div--right {
	margin-right: $mui-base-font-size *1.5;
}
