extends  ../../_part/_baseShell

block head
	title Page 3
	include ../../_part/_header

block main
	style.
		.section {
			background-size: cover;
			background-attachment: fixed;
			background-image: url(res/beach768.jpg);
		}

		.section1{
			background-image: url(res/beach768.jpg);
		}
		.section2{
			background-image: url(res/city768.jpg);
		}
		.section3{
			background-image: url(res/light768.jpg);
		}
		.section4{
			background-image: url(res/road768.jpg);
		}

	#fullpage
		.section1.section
			.mui-container-fluid
				.mui-panel
					H3 Oh Hi 1

		.section2.section
			.mui-container-fluid
				.mui-panel
					H3 Oh Hi 2

		.section3.section
			.mui-container-fluid
				.mui-panel
					H3 Oh Hi 3

		.section4.section
			.mui-container-fluid
				.mui-panel
					H3 Oh Hi 4


	script.
		function init() {
			$('#fullpage').fullpage({
				//verticalCentered: false,
				css3:false
			})//config
		}
		sP.onSetup(init)

block footer
	include ../../_part/_footer