doctype html
html
	head
		block head

	body
		<!--[if !IE]> -->
			link(rel='stylesheet', href='/_sass/main.css', type='text/css', lazyload="1")
		<!-- <![endif]-->

		// list all comps. in production these can be loaded .js files
		script(type='riot/tag', src='/_uiComps/c-1.html')
		script(type='riot/tag', src='/_uiComps/c-2.html')

		script(type='riot/tag', src='/_uiComps/d-bind.tag')
		script(type='riot/tag', src='/_uiComps/d-table.html')
		script(type='riot/tag', src='/_uiComps/star-rating.html')

		include _top

		#content-wrapper

			block main

		block footer