doctype html
html
	head
		block head

	body
		<!--[if !IE]> -->
			link(rel='stylesheet', href='/_sass/main.css', type='text/css', lazyload="1")
		<!-- <![endif]-->

		include _top

		#content-wrapper

			block main

		block footer