
extends  ../../_part/_shellA-base

block content
	.mui-container-fluid
		include story1.html

	script.
		_stateA.addOnce(function(arg1, arg2) {
			console.log('o'+arg1, arg2)
			return false
		})

block footer
	include  ../../_part/_footer
